{% extends 'base.html' %}

{% block content %}

<div class="simple-center-div top-space-2">
    {% if error %}
    <div class="pure-u-1 message-box message-box-error">
        <i class="fa fa-exclamation-triangle"></i>
        {{ error }}
        {% if filename %}<p>Filename: <strong>{{ filename }}</strong></p>{% endif %}
    </div>
    <div class="pure-u-1 top-space-1">
        <p>
            For manual verification of {{ issuer_name }} certificates please contact {{ contact_name }} (<a
                href="mailto:{{ contact_email }}">{{ contact_email }}</a>).
        </p>
    </div>
    {% else %}
    {% if result.status == 'valid' %}
    {% if id_proofs == 0 %}
    <div class="pure-u-1 message-box message-box-warning large-font">
        <i class="fa fa-check"></i>
        Certificate {{ filename }} is valid!
        <p>However, the issuer has not provided any proof for his identity</p>
        {% if result.expiry_date %}
        <p>It will expire at: <strong>{{ result.expiry_date }} UTC</strong></p>
        {% endif %}
    </div>
    {% else %}
    <div class="pure-u-1 message-box message-box-success large-font">
        <i class="fa fa-check"></i>
        Certificate {{ filename }} is valid!
        {% if result.expiry_date %}
        <p>It will expire at: <strong>{{ result.expiry_date }} UTC</strong></p>
        {% endif %}
    </div>
    {% endif %}
    <div class="pure-u-1">
        {% block metadata_content %}{% endblock %}
     </div>
    {% else %}
    <div class="pure-u-1 message-box message-box-warning">
        <i class="fa fa-exclamation-triangle"></i>
        Certificate <strong>{{ filename }}</strong> does not validate.
        {% if result.expiry_date %}
        <p>It has expired at: <strong>{{ result.expiry_date }} UTC</strong></p>
        {% endif %}
        {% if result.revoked == 'certificate' %}
        <p>The certificate has been revoked.</p>
        {% elif result.revoked == 'address' %}
        <p>The issuer has invalidated this issuing address.</p>
        {% elif result.revoked == 'batch' %}
        <p>The issuance containing this certificate has been revoked.</p>
        {% endif %}
    </div>
    <div class="pure-u-1 top-space-1">
        <p>
            Please make sure it is the original PDF that was issued on the blockchain and not an edited file or a scanned copy of the
            certificate.
        </p>
        <p>
            For manual verification of {{ issuer_name }} certificates please contact {{ contact_name }} (<a
                href="mailto:{{ contact_email }}">{{ contact_email }}</a>).
        </p>
    </div>
    {% endif %}
    {% endif %}
    <div class="pure-u-1 top-space-2 large-font">
        <a class="pure-button button-primary" href="/verify">Back to verification</a>
        {% if main_site_url %}
        <a class="pure-button button-secondary" href="{{ main_site_url }}">Back to main site</a>
        {% endif %}
    </div>
</div>
{% endblock %}
