{% extends 'base.html' %}

{% block content %}
<div class="simple-center-div top-space-2">
    {% if " is valid!" in result_text %}
    <div class="pure-u-1 message-box message-box-success large-font">
        <i class="fa fa-check"></i>
        Certificate {{ filename }} is valid!
    </div>
    <div class="pure-u-1">
        <table class="pure-table table-md top-space-1" >
            <tbody>
                <tr class="pure-table-odd">
                    <td><b>Transaction Id</b></td>
                    <td>{{ txid }}</td>
                </tr>
                {% if address %}
                    <tr>
                        <td><b>Issuer</b></td>
                        <td>{{ issuer }}</td>
                    </tr>
                    <tr class="pure-table-odd">
                        <td><b>Address</b></td>
                        <td>{{ address }}</td>
                    </tr>
                {% endif %}
                {% if metadata %}
                    {% if metadata['issuer_address'] %}
                        <tr>
                            <td><b>Issuer</b></td>
                            <td>{{ metadata['issuer'] }}</td>
                        </tr>
                        <tr class="pure-table-odd">
                            <td><b>Address</b></td>
                            <td>{{ metadata['issuer_address'] }}</td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td><b>First Name</b></td>
                            <td>{{ metadata['First Name'] }}</td>
                        </tr>
                        <tr class="pure-table-odd">
                            <td><b>Fathers Name</b></td>
                            <td>{{ metadata['Fathers Name'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Last Name</b></td>
                            <td>{{ metadata['Last Name'] }}</td>
                        </tr>
                        <tr class="pure-table-odd">
                            <td><b>Degree Type</b></td>
                            <td>{{ metadata['Degree Type'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Program of Study</b></td>
                            <td>{{ metadata['Program of Study'] }}</td>
                        </tr>
                        <tr class="pure-table-odd">
                            <td><b>Date of Issue</b></td>
                            <td>{{ metadata['Date of Issue'] }}</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="pure-u-1 message-box message-box-warning large-font">
            <i class="fa fa-exclamation-triangle"></i>
            Certificate <strong>{{ filename }}</strong> does not validate.
        </div>
        <div class="pure-u-1 top-space-1">
            <p>
                Please make sure it is the original PDF that was issued on the blockchain and not just a scanned copy of the certificate.
            </p>
            <p>
                For manual verification of {{ issuer_name }} certificates please contact {{ contact_name }} (<a href="mailto:{{ contact_email }}">{{ contact_email }}</a>)).
            </p>
    </div>
    {% endif %}
    <div class="pure-u-1 top-space-2 large-font">
        <a class="pure-button button-primary" href="/verify">Back to verification</a>
        {% if main_site_url %}
            <a class="pure-button button-secondary" href="{{ main_site_url }}">Back to main site</a>
        {% endif %}
    </div>
</div>
{% endblock %}