<html>
<head>
    <script src="https://use.fontawesome.com/8e42f0ed9b.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='unic.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blockchain Certificate Validation</title>
</head>
<body>
    <div class="pure-g simple-center-div top-space-2">
        <div class="pure-u-1">
        <img class="pure-img center-img bottom-space-2" src="{{ url_for('static', filename='UNIC-logo.png') }}" alt="UNic Logo">
        </div>
        {% if " is valid!" in result_text %}
        <div class="pure-u-1 message-box message-box-success large-font">
            <i class="fa fa-check"></i>
            Certificate {{ filename }} is valid!
        </div>
        <div class="pure-u-1">
        <table class="pure-table table-md top-space-half" >
            <tbody>
                <tr class="pure-table-odd">
                    <td><b>Issuer</b></td>
                    <td>{{ issuer }}</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>{{ address }}</td>
                </tr>
                <tr class="pure-table-odd">
                    <td><b>Transaction Id</b></td>
                    <td>{{ txid }}</td>
                </tr>
            </tbody>
        </table>
        </div>
        {% else %}
        <div class="pure-u-1 message-box message-box-error large-font">
            <i class="fa fa-times-circle"></i>
            Certificate {{ filename }} is not valid!
        </div>
        {% endif %}
        <div class="pure-u-1 top-space-2">
            <a class="pure-button button-secondary" href="http://82.116.203.239:8080/verify">Back to validation</a>
            <a class="pure-button pure-button-primary" href="https://digitalcurrency.unic.ac.cy/free-introductory-mooc/self-verifiable-certificates-on-the-bitcoin-blockchain/">Back to main site</a>
        </div>
    </div>
</body>
</html>
